@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-panel {
    @apply bg-os-panel/60 backdrop-blur-xl border border-os-border shadow-2xl;
  }

  /* Tuỳ chỉnh thanh cuộn siêu mượt và đẹp */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-os-border rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
}
